

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

Form {
    margin-right: 15px;
    margin-left: 15px;
    width: 90%;
}

.input-fields {
    margin-left: 96px;
    margin-right: 10px;
}



.radio-wrapper {
    margin-left: 270px;
    margin-bottom: 5px;
}

.group-wrapper {
    margin-left: -15px;
}

.student-wrapper {
    margin-left: 190px;
}

.driver-wrapper {
    margin-left: 94px;
}

.ca-wrapper {
    margin-left: 120px;
}


.application-header {
    background: #FFFF !important;
    
}

.appbar-title {
    color: #6D49FF !important;
    font-size: medium;
    margin-left: 16px;
}

.form-header {
    color: #6D49FF !important;
    font-size: x-large;
    margin-top: 54px;
    margin-left: 78px;
}