html, body {
    overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

Form {
    margin-right: 15px;
    margin-left: 15px;
    width: 90%;
}

.input-fields {
    margin-left: 96px;
    margin-right: 10px;
}



.radio-wrapper {
    margin-left: 270px;
    margin-bottom: 5px;
}

.group-wrapper {
    margin-left: -15px;
}

.student-wrapper {
    margin-left: 190px;
}

.driver-wrapper {
    margin-left: 94px;
}

.ca-wrapper {
    margin-left: 120px;
}


.application-header {
    background: #FFFF !important;
    
}

.appbar-title {
    color: #6D49FF !important;
    font-size: medium;
    margin-left: 16px;
}

.form-header {
    color: #6D49FF !important;
    font-size: x-large;
    margin-top: 54px;
    margin-left: 78px;
}


.announcement-title {
    text-align: center;
    color: #6D49FF;
}

.events-wrapper {
    display: inline-block;
    margin: auto;
    width: 50%;
    margin-bottom: 20px;
    padding-left: 100px;
    padding-top: 12px;
}

.event-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 275px;
  height: 100px;
  padding-top: 10px;
  text-align: center;
  border: 1px solid #6D49FF;
  border-radius: 5px;
  color: #6D49FF;
  margin-left: 15px;
}

.card-container {
    padding: 2px 16px;
}

.card-row {
    margin: 0 auto;
    max-width: 5000px;
    width: 100%;
}

.card-column {
    float: left;
    padding: 0 15px;
}